*.cm[iox]
.*.sw[op]
_build
*.byte
*.native
*.vim
*.log
*.d
*.[0-9]
*.mpx
*.aux
*.nav
*.toc
*.snm
*.gz
*.dvi
*.out
*.o
*.vo
*.cmxs
*.glob
*.dir
*.scale
*.mps
*.*~
.~*
*.bbl
*.blg
*.spl
imagesdp/figs/*
paretosdp/figs/*
*.odt
*.doc
*.ods
*.eps
